.petco {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-header {
    height: 45px;
    width: 100%;
}
.card-title{
    background-color:rgb(14, 72, 90);
    text-align: center;
    color: floralwhite; 
}
  
.card {
    margin: 10px;
    padding: 1px;
    background:rgb(0, 77, 100)
}

.btn {
    margin: 10px;
    padding: 1px;
    size: 30px;
    background:red;    
 }
.btn-Dog {
    background:rgb(57, 125, 51);    
}
.btn-Cat {
    background:yellowgreen;  
}
.btn-Dino {
    background:rgb(58, 159, 177);   
}


.card,
.btn{
    color:floralwhite
}

.card-text{
    margin:0px;
    text-align: center;
}
.cat-type {
    background-color: yellowgreen;  
    height: 45px;
    text-align: center;
    color:floralwhite
}
  
.dog-type {
    background-color:rgb(57, 125, 51);
    height: 45px;
    text-align: center;
    color:floralwhite
}
  
.dino-type {
    background-color:rgb(58, 159, 177);
    height: 45px;
    text-align: center;
    color:floralwhite
}