.petco {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .card {
    margin: 10px;
    padding: 1px;
    background:darkgreen
  }

  .btn{
    margin: 10px;
    padding: 1px;
    background:brown;    
  }

  .card-title{
background-color:greenyellow;
  }
  .card,
  .btn{
color:floralwhite
  }

  .card-title{
    color: fuchsia;
  }

  .card-text{
    margin:0px;
    text-align: center;
  }